{{ partial "header.html" . }}

<div id="container">
	{{ partial "nav.html" . }}
	
	<div class="page scheme-light">
		<div class="page-header">
			<div class="page-title inline">{{ .Title }}</div>
			{{ if isset .Params "download_link" }}
				<a href="{{ .Params.download_link }}" class="link-icon">
					<div class="action-common action-download inline">
						<div class="icon-download link-icon inline"></div>
						<div class="icon-text link-icon inline">Pobierz</div>
					</div>
				</a>
			{{ end }}			
			{{ if isset .Params "repository" }}
				<a href="{{ .Params.repository }}" target="_blank" class="link-icon">
					<div class="action-common action-repository inline">
						<div class="icon-file-code link-icon inline"></div>
						<div class="icon-text link-icon inline">Repozytorium</div>
					</div>
				</a>
			{{ end }}
		</div>
		
		<hr class="hr-big hr-dark"/>
		<div class="page-content">
			{{ .Content }}
			
			<br/>
			{{ if isset .Params "download_link" }}
				<a class="download-text" href="{{.Params.download_link }}">Link do pobrania</a><br/>
			{{ end }}
			<br/>
			{{ if isset .Params "images" }}
				<div>
					{{ range .Params.images }}
						<a href="{{ . }}" target="_blank"><img class="screenshot inline" alt="Obrazek" src="{{ . }}"/></a>
					{{ end }}
				</div>
			{{ end }}
		</div>
	</div>

</div>

{{ partial "footer.html" . }}