{{ partial "header.html" . }}

<div id="container">
	{{ partial "nav.html" . }}
	
	<div class="page scheme-light">
		<div class="page-header">
			<h1 class="page-title inline">{{ .Title }}</h1>
			{{ if isset .Params "download_link" }}
				<a href="{{ .Params.download_link }}" class="link-icon action-common action-download inline">
					<div class="icon-download inline"></div>
					<div class="icon-text inline">Pobierz</div>
				</a>
			{{ end }}			
			{{ if isset .Params "repository" }}
				<span class="link-icon">
				<a href="{{ .Params.repository }}" target="_blank" class="link-icon action-common action-repository inline">
					<div class="icon-file-code inline"></div>
					<div class="icon-text inline">Repozytorium</div>
				</a>
				</span>
			{{ end }}
		</div>
		
		<hr class="hr-big hr-dark"/>
		<div class="page-content">
			{{ .Content }}
			
			<br/>
			{{ if isset .Params "download_link" }}
				<span class="download-text"><a href="{{.Params.download_link }}">Link do pobrania</a></span><br/>
			{{ end }}
			<br/>
			{{ if isset .Params "images" }}
				<div>
					{{ range .Params.images }}
						<a href="{{ . }}" target="_blank"><img class="screenshot inline" alt="Obrazek" src="{{ . }}"/></a>
					{{ end }}
				</div>
			{{ end }}
		</div>
	</div>

</div>

{{ partial "footer.html" . }}