body
{
	background-color: #EDEDED;
	margin: 0px;
	font-family: 'Roboto Slab', sans-serif;
}

hr
{
	margin: 0px;
	margin-left: 10px;
	margin-right: 10px;
	border-color: white;
	border-width: 0px;
	height: 1px;
}

blockquote
{
	padding: 20px;
	background-color: #E0E0E0;
}

pre
{
	background-color: #E0E0E0;
	padding: 10px;
}

h1
{
	font-size: 42px;
}
h2
{
	font-size: 36px;
}
h3
{
	font-size: 30px;
}
h4
{
	font-size: 24px;
}
h5
{
	font-size: 18px;
}
h6
{
	font-size: 12px;
}

.hr-normal
{
	height: 2px;
}

.hr-big
{
	height: 4px;
}

.hr-white
{
	background-color: #EDEDED;
}
.hr-dark
{
	background-color: #262626;
}

.scheme-dark
{
	background-color: #262626;
	color: #EDEDED;
}

.scheme-light
{
	background-color: #EDEDED;
	color: #262626;
}

.clear
{
	clear: both;
	display: block;
}

.left
{
	float: left;
}

.right
{
	float: right;
}

.inline
{
	display: inline;
}

.nav
{
	min-width: 350px;
	display: table-cell;
}

.nav-title
{
	text-align: center;
	font-size: 28px;
	padding: 15px;
	margin-top: 0px;
}

.nav-item
{
	text-align: center;
	font-size: 24px;
	padding: 15px;
	background-color: #393939;
	color: #EDEDED;
}

.nav-item-link
{
	text-decoration: none;
}

.nav-item:hover
{
	background-color: #585858;
}

.nav-item-selected
{
	background-color: #525252;
}

.nav-copyright
{
	margin-top: 30px;
	text-align: center;
}
.nav-copyright a
{
	color: #EDEDED;
	text-decoration: underline;
}
.nav-copyright a:hover
{
	color: #585858;
	text-decoration: underline;
}

.social-container
{
	margin-left: auto;
	margin-right: auto;
	width: 220px;
	margin-top: 20px;
}

.social-common
{
	width: 80px;
	height: 80px;
	line-height: 80px; /* to center icon */
	margin: 10px;
	padding: 5px;
	border-radius: 60px;
	font-size: 56px;
	text-align: center;
}

.action-common
{
	width: 45px;
	height: 45px;
	line-height: 45px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 5px;
	padding-left: 10px;
	border-radius: 35px;
	font-size: 32px;
	text-align: center;
}

.action-download
{
	background-color: #393939;
}

.action-download:hover
{
	background-color: #585858;
}

.action-repository
{
	background-color: #393939;
}

.action-repository:hover
{
	background-color: #585858;
}


.social-github
{
	background-color: #666666;
}

.social-github:hover
{
	background-color: #999999;
}

.social-mail
{
	background-color: #393939;
}

.social-mail:hover
{
	background-color: #585858;
}

.link-icon
{
	color: white;
	text-decoration: none;
}

.icon-text
{
	font-size: 20px;
	margin-left: 5px;
	margin-right: 10px;
	position: relative;
	top: -6px;
	text-align: center;
}

.page
{
	padding: 20px;
	display: table-cell;
	width: 100%;
	box-shadow: -10px 0px 100px #262626;
}

.page-header
{
	margin: 20px;
}

.page-content
{
	font-size: 24px;
	margin: 26px;
	text-align: justify;
	text-justify: inter-word;
}

.page-content a
{
	color: #262626;
	text-decoration: underline;
}
.page-content a:hover
{
	color: #585858;
	text-decoration: underline;
}

.page-content hr
{
	background-color: #262626;
	height: 2px;
}
.page-content table
{
	border-collapse: collapse;
	border: 2px solid black;
}

.page-content th
{
	background-color: #E0E0E0;
}

.page-content th,td
{
	border: 1px solid #262626;
	padding: 5px;
}

.page-title
{
	font-weight: bold;
	margin-right: 20px;
}

.download-text
{
	font-size: 30px;
	color: #EDEDED;
	font-weight: bold;
	text-decoration: underline;
	padding: 10px;
	border-radius: 10px;
	background-color: #262626;
	animation: pulse-download 1s infinite;
	box-shadow: 0px 0px 50px #262626;
}

.download-text a
{
	text-decoration: underline;
	color: #EDEDED;
}
.download-text a:hover
{
	text-decoration: none;
	color: #595959;
}

.screenshot
{
	max-width: 400px;
	max-height: 400px;
	margin-right: 20px;
	margin-bottom: 20px;
}

#container
{
	display: table;
	min-height: 100vh;
}

#title
{
	font-size: 48px;
	padding: 10px;
	padding-top: 40px;
	text-align: center;
	background-color: #131313;
	color: white;
	text-decoration: none;
}

@keyframes pulse-download
{
	0%
	{
		transform: scale(1);
	}

	50%
	{
		transform: scale(1.1);
	}

	100% 
	{
		transform: scale(1);
	}
}