$pageColor: #EDEDED;
$pageInnerColor: #E0E0E0;
$pageTextColor: #000000;
$pageLinkColor: #000000;
$pageLinkHoverColor: #585858;

$navTitleColor: #131313;

$navColor: #262626;
$navTextColor: #FFFFFF;

$navItemColor: #393939;
$navItemSelectedColor: #525252;
$navItemHoverColor: #585858;

$navLinkColor: #FFFFFF;
$navLinkHoverColor: #585858;

$actionColor: #393939;
$actionTextColor: #FFFFFF;
$actionHoverColor: #777777;

$socialColor: #393939;
$socialTextColor: #FFFFFF;
$socialHoverColor: #777777;
$githubColor: #666666;
$githubHoverColor: #999999;

$downloadColor: #262626;
$downloadTextColor: #FFFFFF;
$downloadTextHoverColor: #585858;

@media all
{
	.nav
	{
		display: block;
	}
	.page
	{
		padding: 0px;
		display: block;
	}
	.page-content
	{
		font-size: 16px;
		margin: 16px;
	}
	.action-outline
	{
		display: block;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.screenshot
	{
		max-width: 60px;
		max-height: 60px;
	}
	#container
	{
		display: block;
	}
}

@media (min-width: 400px)
{
	.screenshot
	{
		max-width: 300px;
		max-height: 300px;
	}
}

@media (min-width: 768px)
{
	.nav
	{
		display: table-cell;
		min-width: 350px;
	}
	.page
	{
		padding: 20px;
		display: table-cell;
		box-shadow: -10px 0px 100px #262626;
		width: 100%;
	}
	.page-content
	{
		font-size: 20px;
		margin: 26px;
	}
	.action-outline
	{
		display: inline;
		margin-left: 10px;
		margin-right: 10px;
	}
	.screenshot
	{
		max-width: 400px;
		max-height: 400px;
	}
	#container
	{
		display: table;
	}
}

body
{
	background-color: $pageColor;
	margin: 0px;
	font-family: 'Roboto Slab', sans-serif;
}

hr
{
	margin: 0px;
	margin-left: 10px;
	margin-right: 10px;
	border-color: white;
	border-width: 0px;
	height: 1px;
}

h1
{
	font-size: 42px;
}
h2
{
	font-size: 36px;
}
h3
{
	font-size: 30px;
}
h4
{
	font-size: 24px;
}
h5
{
	font-size: 18px;
}
h6
{
	font-size: 12px;
}

.hr-normal
{
	height: 2px;
}

.hr-big
{
	height: 4px;
}

.clear
{
	clear: both;
}

.left
{
	float: left;
}

.right
{
	float: right;
}

.inline
{
	display: inline;
}

.nav
{
	vertical-align: top;
	background-color: $navColor;
	color: $navTextColor;
	padding-bottom: 30px;
}
.nav hr
{
	background-color: $navTextColor;
}

.nav-title
{
	text-align: center;
	font-size: 28px;
	padding: 15px;
	margin-top: 0px;
}

.nav-item
{
	text-align: center;
	font-size: 24px;
	padding: 15px;
	background-color: $navItemColor;
	color: $navTextColor;
	transition: 0.5s;
}

.nav-item-link
{
	text-decoration: none;
}

.nav-item:hover
{
	background-color: $navItemHoverColor;
	transition: 0.5s;
}

.nav-item-selected
{
	background-color: $navItemSelectedColor;
}

.nav-copyright
{
	margin-top: 30px;
	text-align: center;
}
.nav-copyright a
{
	color: $navLinkColor;
	text-decoration: underline;
}
.nav-copyright a:hover
{
	color: $navLinkHoverColor;
	text-decoration: underline;
}

.title
{
	font-size: 48px;
	padding: 10px;
	padding-top: 40px;
	text-align: center;
	background-color: $navTitleColor;
	color: $navTextColor;
	text-decoration: none;
}
.title-link
{
	color: $socialTextColor;
	text-decoration: none;
}

.flag
{
	margin: 10px;
	width: 16px;
	height: 11px;
	transition: 0.5s;
	-webkit-filter: contrast(1.5);
}
.flag:hover
{
	transform: scale(1.5);
	transition: 0.5s;
}

.flag-unselected
{
	-webkit-filter: grayscale(1);
	transition: 0.5s;
}
.flag-unselected:hover
{
	-webkit-filter: grayscale(0);
	transform: scale(1.5);
	transition: 0.5s;
}

.flags-container
{
	margin-left: auto;
	margin-right: auto;
	width: 72px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.social-container
{
	margin-left: auto;
	margin-right: auto;
	width: 220px;
	margin-top: 10px;
}

.social
{
	width: 80px;
	height: 80px;
	line-height: 80px; /* to center icon */
	margin: 10px;
	padding: 5px;
	border-radius: 60px;
	font-size: 56px;
	text-align: center;
	color: $socialTextColor;
	text-decoration: none;
}

.social-github
{
	background-color: $githubColor;
	transition: 0.5s;
}

.social-github:hover
{
	background-color: $githubHoverColor;
	transform: scale(1.1);
	transition: 0.5s;
}

.social-mail
{
	background-color: $socialColor;
	transition: 0.5s;
}

.social-mail:hover
{
	background-color: $socialHoverColor;
	transform: scale(1.1);
	transition: 0.5s;
}

.action
{
	min-width: 45px;
	height: 45px;
	line-height: 45px;
	padding: 5px;
	padding-left: 10px;
	border-radius: 35px;
	font-size: 32px;
	text-align: center;
	background-color: $actionColor;
	transition: 0.5s;
	color: $actionTextColor;
	text-decoration: none;
}
.action:hover
{
	background-color: $actionHoverColor;
	transition: 0.5s;
}

.action-text
{
	font-size: 20px;
	margin-left: 5px;
	margin-right: 10px;
	position: relative;
	top: -6px;
	text-align: center;
	color: $actionTextColor;
	display: inline;
}

.page
{
	vertical-align: top;
	background-color: $pageColor;
	color: $pageTextColor;
}

.page hr
{
	background-color: $pageTextColor;
}

.page-header
{
	margin: 20px;
}

.page-content
{
	text-align: justify;
	text-justify: inter-word;
	word-wrap: break-word;
}

.page-content a
{
	color: $pageLinkColor;
	text-decoration: underline;
}
.page-content a:hover
{
	color: $pageLinkHoverColor;
	text-decoration: underline;
}

.page-content hr
{
	background-color: $pageTextColor;
	height: 2px;
}
.page-content table
{
	border-collapse: collapse;
	border: 2px solid $pageTextColor;
}

.page-content th
{
	background-color: $pageInnerColor;
}

.page-content th,td
{
	border: 1px solid $pageTextColor;
	padding: 5px;
}

.page-content blockquote
{
	padding: 20px;
	background-color: $pageInnerColor;
}

.page-content pre
{
	background-color: $pageInnerColor;
	padding: 10px;
}

.page-title
{
	font-weight: bold;
	margin-right: 20px;
	word-wrap: break-word;
}

.download-text
{
	font-size: 30px;
	color: $downloadTextColor;
	font-weight: bold;
	text-decoration: underline;
	padding: 10px;
	border-radius: 10px;
	background-color: $downloadColor;
	animation: pulse-download 1s infinite;
	box-shadow: 0px 0px 50px $downloadColor;
}

.download-text a
{
	text-decoration: underline;
	color: $downloadTextColor;
}
.download-text a:hover
{
	text-decoration: none;
	color: $downloadTextHoverColor;
}

.screenshot
{
	margin-right: 20px;
	margin-bottom: 20px;
}

#container
{
	min-height: 100vh;
}

#disqus_thread
{
	margin: 20px;
}

@keyframes pulse-download
{
	0%
	{
		transform: scale(1);
	}

	50%
	{
		transform: scale(1.1);
	}

	100% 
	{
		transform: scale(1);
	}
}