<h2>
    {{ $stringsCategoryName := print "category_project(" ($.Scratch.Get "current") ")" }}
    {{ index (index $.Site.Data.strings $.Site.LanguageCode) $stringsCategoryName }}
</h2>
<p>
    <ul>
        {{ range where .Site.Pages "Section" "project"}}
            {{ if eq .Params.project_type ($.Scratch.Get "current") }}
                <li>
                    <a href="{{ .RelPermalink }}" class="page-link-main">{{ .LinkTitle }}</a> - {{ .Description }}
                </li>
            {{ end }}
        {{ end }}
    </ul>
</p>
