{{ partial "header.html" . }}

<div id="container">
	{{ partial "nav.html" . }}

	<div class="page">
		<div class="page-header">
			<h1 class="page-header-title inline">{{ ( index $.Site.Data.strings $.Site.LanguageCode).category_project }}</h1>
		</div>

		<hr class="hr-big"/>

		<div class="page-content">
			{{ $.Scratch.Add "current" ""}}

			{{ $.Scratch.Set "current" "application" }}
			{{ partial "project-list.html" . }}

			{{ $.Scratch.Set "current" "electronics" }}
			{{ partial "project-list.html" . }}

			{{ $.Scratch.Set "current" "library" }}
			{{ partial "project-list.html" . }}


		</div>
	</div>
</div>

{{ partial "footer.html" . }}
