<!DOCTYPE html>
<html lang="pl">
	<head>
		<meta charset="utf-8">
		<title>{{ .Title }}</title>
		<meta name="keywords" content="{{ range .Keywords }}{{ . }} {{ end }}"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="icon" type="image/png" href="/favicon.png"/>
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
		<link rel="stylesheet" type="text/css" href="/style.css"/>
		<link rel="stylesheet" type="text/css" href="/fontello/css/fontello.css"/>
		<link rel="stylesheet" type="text/css" href="/fontello/css/fontello-embedded.css"/>
		<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="/scripts.js"></script>
	</head>
	
	<body>