{{ partial "header.html" . }}

<div id="container">
	{{ partial "nav.html" . }}
	
	<div class="page">
		<div class="page-header">
			<h1 class="page-header-title inline">{{ ( index $.Site.Data.strings $.Site.LanguageCode).myprojects }}</h1>
		</div>
		
		<hr class="hr-big"/>
		
		<div class="page-content">
			{{ range where .Site.Pages "Section" "project"}}
				<p>
					<a href="{{ .RelPermalink }}" class="page-link-main">{{ .LinkTitle }}</a> - {{ .Description }}
				</p>
			{{ end }}
		</div>
	</div>
</div>

{{ partial "footer.html" . }}